<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>


    <div id="growler">
      <select multiple
        v-model="selectedSearchIndexes">
        <option value="beers">Beers</option>
        <option value="breweries">Breweries</option>
        <option value="distilleries">Distilleries</option>
        <option value="pubs">Pubs</option>
      </select>

      <small>
        selected: {{ selectedSearchIndexes }}
      </small>
    </div>

    <script src="/bundle.js"></script>
  </body>
</html>
