<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <div id="growler">
      <label>
        <input
          type="checkbox" value="beers"
          v-model="searchIndexs">
        Beers
      </label>
      <br />

      <label>
        <input
          type="checkbox" value="breweries"
          v-model="searchIndexs">
        Breweries
      </label>

      <small>
        selected: {{ searchIndexs }}
      </small>
    </div>
    <script src="/bundle.js"></script>
  </body>
</html>
