<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>


    <div id="growler">
      <form action="someUrl" method="POST">
        <input type="search"
          v-model="query"
          v-bind:disabled="isRunning" />
        <button type="button"
          v-on:click.once="executeSearch"
          v-bind:disabled.once="isRunning">
          Search
        </button>
      </form>
    </div>

    <script src="/bundle.js"></script>
  </body>
</html>
